<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Selaa kuvia - Kuvapalvelu</title>
        <meta name="mobile-web-app-capable" content="yes"/>
        <!--Viewport-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!--Theme color-->
        <meta name="theme-color" content="#283593"/>
        <!-- Compiled CSS -->
        <link rel="stylesheet" th:href="@{'~/' + 'css/materialize.css'}" media="screen,projection"/>
        <!--Manifest-->
        <link rel="manifest" th:href="@{'~/' + 'manifest.json'}"/>
        <!-- CSRF -->
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <!-- default header name is X-CSRF-TOKEN -->
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <!--Style-->
        <link rel="stylesheet" th:href="@{'~/' + 'css/global.css'}" />
    </head>
    <body>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a class="center brand-logo" th:href="@{/}">Kuvapalvelu</a>
                    <a href="#" data-activates="mobileMenu" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a th:href="@{/}" id="syote"><i class="material-icons left">store</i>Syöte</a></li>
                        <li><a th:href="@{/search}" id="haku"><i class="material-icons left">search</i>Haku</a></li>
                        <li><a th:href="@{'/profile/' + ${user.username}}" id="profiili"><i class="material-icons left">face</i><span th:text="${user.username}" id="currentUser">Profiili</span></a></li>
                        <li><a th:href="@{/logout}" id="logout"><i class='material-icons left'>lock</i>Kirjaudu ulos</a></li>
                    </ul>
                    <ul class="side-nav" id="mobileMenu">
                        <li><div class="userView">
                                <div class="background">
                                    <img th:src="@{'/slidenav_bg.jpg'}"/>
                                </div>
                                <a th:href="@{'/profile/' + ${user.username}}"><img class="circle" th:src="@{'/profile.jpg'}"/></a>
                                <a th:href="@{'/profile/' + ${user.username}}">
                                    <span class="white-text name" th:text="${user.username}" style="font-weight: bold;">Käyttäjänimi</span>
                                </a>
                                <a th:href="@{'/profile/' + ${user.username}}">
                                    <span class="white-text email" th:text="${user.email}">Sähköpostiosoite</span>
                                </a>
                            </div></li>
                        <li><a th:href="@{/}" id="syote"><i class="material-icons deep-orange-text">timeline</i>Syöte</a></li>
                        <li><a th:href="@{/search}" id="haku"><i class="material-icons green-text">search</i>Haku</a></li>
                        <li><a th:href="@{'/profile/' + ${user.username}}" id="profiili"><i class="material-icons blue-text">face</i>Profiili</a></li>
                        <li><a th:href="@{/logout}" id="logout"><i class="material-icons">lock</i>Kirjaudu ulos</a></li>
                    </ul>            
                </div>
            </nav>
        </div>
        <div class="container">
            <h3 th:text="${image.description}"></h3>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-image center-align">
                            <a th:id="${image.uuid}"></a>
                            <img class="autoload autoscale" th:attr="data-original=@{'/img/' + ${image.uuid}}"/>
                            <span class="card-title"></span>
                            <div class="preloader-wrapper big active imgpreloader" style="display: none;">
                                <div class="spinner-layer spinner-blue-only">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div><div class="gap-patch">
                                        <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
                            <noscript>
                                <img class="autoscale" th:src="@{'/img/' + ${image.uuid}}"/>
                            </noscript>
                        </div>
                        <div class="card-content">
                            <p><span class="card-title large" th:text="${image.description}"></span></p>
                            Käyttäjältä <a th:href="@{'/profile/' + ${image.imageOwner.username}}"><b th:text="${image.imageOwner.username}">Omistaja</b></a>, <span th:text="${#dates.format(image.creationDate, 'dd.MM.yyyy HH:mm')}"></span><br/>
                            <span style="color: gray;"><span th:text="${image.likes}" th:id="${'imageLikes_' + image.uuid}" style="font-weight: bold;">0</span> tykkäystä &nbsp;<span style="font-weight: bold;" th:id="${'imageComments_' + image.uuid}" th:text="${image.commentsAmount}">0</span> kommenttia</span>
                            <p>
                                <ul th:id="${'comments_' + image.uuid}">
                                    <li th:if="${not #lists.isEmpty(image.comments)}" th:each="comment : ${image.comments}">
                                        <p><a th:href="@{'/profile/' + ${comment.user.username}}"><span th:text="${comment.user.username}" style="font-weight: bold;">Käyttäjätunnus</span></a> <span th:text="${comment.body}"></span></p>
                                    </li>  
                                </ul>
                            </p>
                        </div>  
                        <div class="card-action">
                            <form th:action="@{/img/like}" th:onsubmit="'event.preventDefault();'" method="POST" class="likeForm">
                                <input type="hidden" name="imageUuid" th:value="${image.uuid}"/>
                                <input type="hidden" name="redirect" value="1"/>
                                <button type="submit" name="like">Tykkää</button>
                            </form>
                            <a th:href="@{'/comment/' + ${image.uuid}}" th:onclick="'event.preventDefault(); createCommentModal(\'' + ${image.uuid} + '\');'">Kommentoi</a>
                        </div>
                    </div>
                </div>

            </div>
            <!--Floating add-->
            <div class="fixed-action-btn">
                <a class="btn-floating btn-large red waves-effect waves-light" id="uploadBtn" th:href="@{/upload}">
                    <i class="large material-icons">add</i>
                </a>
            </div>
        </div>
        <script type="text/javascript" th:src="@{'~/' + 'js/jquery-3.1.1.min.js'}"></script>
        <script type="text/javascript" th:src="@{'~/' + 'js/jquery-ui.js'}"></script>
        <script type="text/javascript" th:src="@{'~/' + 'js/materialize.js'}"></script>
        <script type="text/javascript" th:src="@{'~/' + 'js/script.js'}"></script>
        <script type="text/javascript" th:src="@{'~/' + 'js/like.js'}"></script>
        <script type="text/javascript" th:src="@{'~/' + 'js/createForm.js'}"></script>
    </body>
</html>