<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{service.title}">Kuvapalvelu</title>
        <meta name="mobile-web-app-capable" content="yes"/>
        <!--Viewport-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!--Theme color-->
        <meta name="theme-color" content="#283593"/>
        <!-- Compiled CSS -->
        <link rel="stylesheet" th:href="@{'~/' + 'css/materialize.css'}" media="screen,projection"/>
        <!--Manifest-->
        <link rel="manifest" th:href="@{'~/' + 'manifest.json'}"/>
        <!-- CSRF -->
        <meta name="_csrf" th:content="${_csrf.token}"/>
         <!--default header name is X-CSRF-TOKEN--> 
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <!--Style-->
        <link rel="stylesheet" th:href="@{'~/' + 'css/global.css'}" />
    </head>
    <body>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a class="center brand-logo" th:href="@{/}" th:text="#{service.title}">Kuvapalvelu</a>
                    <a href="#" data-activates="mobileMenu" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a th:href="@{/}" id="syote"><i class="material-icons left">store</i><span th:text="#{service.feed}">Syöte</span></a></li>
                        <li><a th:href="@{/search}" id="haku"><i class="material-icons left">search</i><span th:text="#{service.search}">Haku</span></a></li>
                        <li><a th:href="@{'/profile/' + ${user.username}}" id="profiili"><i class="material-icons left">face</i><span sec:authentication="name" id="currentUser">Profiili</span></a></li>
                        <li><a th:href="@{'?lang=fi'}"><img th:src="@{'/fi_FI.png'}" style="height: 100%; vertical-align: middle;"/></a></li>
                        <li><a th:href="@{'?lang=en'}"><img th:src="@{'/en_EN.png'}" style="height: 100%; vertical-align: middle;"/></a></li>
                        <li><a onclick="event.preventDefault(); $('#logoutForm').submit();" th:href="@{'/logout/confirm'}" id="logout"><i class='material-icons left'>lock</i><span th:text="#{service.logout}">Kirjaudu ulos</span></a></li>
                    </ul>
                    <ul class="side-nav" id="mobileMenu">
                        <li><div class="userView">
                                <div class="background">
                                    <img th:src="@{'/slidenav_bg.jpg'}"/>
                                </div>
                                <a th:href="@{'/profile/' + ${user.username}}"><img class="circle" th:src="@{'/profile.jpg'}"/></a>
                                <a th:href="@{'/profile/' + ${user.username}}">
                                    <span class="white-text name" th:text="${user.username}" style="font-weight: bold;">Käyttäjänimi</span>
                                </a>
                                <a th:href="@{'/profile/' + ${user.username}}">
                                    <span class="white-text email" th:text="${user.email}">Sähköpostiosoite</span>
                                </a>
                            </div></li>
                        <li><a th:href="@{/}" id="syote"><i class="material-icons left">store</i><span th:text="#{service.feed}">Syöte</span></a></li>
                        <li><a th:href="@{/search}" id="haku"><i class="material-icons left">search</i><span th:text="#{service.search}">Haku</span></a></li>
                        <li><a th:href="@{'/profile/' + ${user.username}}" id="profiili"><i class="material-icons left">face</i><span sec:authentication="name" id="currentUser">Profiili</span></a></li>
                        <li><a th:href="@{'?lang=fi'}"><i class='material-icons left'><img th:src="@{'/fi_FI.png'}"/></i> <span th:text="#{service.finnish}">Suomi</span></a></li>
                        <li><a th:href="@{'?lang=en'}"><i class='material-icons left'><img th:src="@{'/en_EN.png'}"/></i> <span th:text="#{service.english}">Englanti</span></a></li>
                        <li><a onclick="event.preventDefault(); $('#logoutForm').submit();" th:href="@{'/logout/confirm'}" id="logout"><i class='material-icons left'>lock</i><span th:text="#{service.logout}">Kirjaudu ulos</span></a></li>
                    </ul>            
                </div>
            </nav>
        </div>
        <form th:action="@{'/logout'}" id="logoutForm" method="POST">
        </form>
        <div class="container">
            <h3 style="center-align" th:text="#{service.feed}">Syöte</h3>
            <!--Cards-->
            <div class="row" th:each="image : ${images}">
                <div class="col">
                    <div class="card">
                        <div class="card-image center-align">
                            <a th:id="${image.uuid}"></a>
                            <img class="autoload autoscale" th:attr="data-original=@{'/img/' + ${image.uuid}}"/>
                            <span class="card-title"></span>
                            <div class="preloader-wrapper big active imgpreloader" style="display: none;">
                                <div class="spinner-layer spinner-blue-only">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div><div class="gap-patch">
                                        <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
                            <noscript>
                                <img class="autoscale" th:src="@{'/img/' + ${image.uuid}}"/>
                            </noscript>
                            <div sec:authorize="hasAuthority('ADMINISTRATOR')"><form th:action="@{'delete/image'}" method="POST"><input type="submit" th:value="#{service.deleteimage}"/><input type="hidden" name="photoId" th:value="${image.id}"/></form></div>
                        </div>
                        <div class="card-content">
                            <p><span class="card-title large" th:text="${image.description}"></span></p>
                            <span th:text="#{service.fromuser}">Käyttäjältä</span> <a th:href="@{'/profile/' + ${image.imageOwner.username}}"><b th:text="${image.imageOwner.username}">Omistaja</b></a>, <span th:text="${#dates.format(image.creationDate, 'dd.MM.yyyy HH:mm')}"></span><br/>
                            <span style="color: gray;"><span th:text="${image.likes}" th:id="${'imageLikes_' + image.uuid}" style="font-weight: bold;">0</span> <span th:text="#{service.likeamount}">tykkäystä</span> &nbsp;<span style="font-weight: bold;" th:id="${'imageComments_' + image.uuid}" th:text="${image.commentsAmount}">0</span> <span th:text="#{service.commentamount}">kommenttia</span></span>
                            <p>
                                <ul th:id="${'comments_' + image.uuid}">
                                    <li th:each="comment : ${image.lastThreeComments}">
                                        <p><a th:href="@{'/profile/' + ${comment.user.username}}"><span th:text="${comment.user.username}" style="font-weight: bold;">Käyttäjätunnus</span></a> <span th:text="${comment.body}"></span><span sec:authorize="hasAuthority('ADMINISTRATOR')"><form th:action="@{'delete/comment'}" method="POST"><input type="submit" th:value="#{service.deletecomment}"/><input type="hidden" name="commentId" th:value="${comment.id}"/></form></span></p>
                                    </li>  
                                </ul>
                                <a th:href="@{'/photo/' + ${image.uuid}}" th:text="#{service.showimagepage}">Näytä kuvasivu ja loput kommentit</a>
                            </p>
                        </div>  
                        <div class="card-action">
                            <form th:action="@{/img/like}" th:onsubmit="'event.preventDefault();'" method="POST" class="likeForm">
                                <input type="hidden" name="imageUuid" th:value="${image.uuid}"/>
                                <input type="hidden" name="redirect" value="1"/>
                                <button type="submit" name="like" th:text="#{service.like}">Tykkää</button>
                            </form>
                            <a th:href="@{'/comment/' + ${image.uuid}}" th:onclick="'event.preventDefault(); createCommentModal(\'' + ${image.uuid} + '\');'" th:text="#{service.comment}">Kommentoi</a>
                        </div>
                    </div>
                </div>

            </div>

            <h4 th:unless="${not #lists.isEmpty(images)}" th:text="#{service.noimages}">Ei kuvia.</h4>


            <!--Floating add-->
            <div class="fixed-action-btn">
                <a class="btn-floating btn-large red waves-effect waves-light" id="uploadBtn" th:href="@{/upload}">
                    <i class="large material-icons">add</i>
                </a>
            </div>
        </div>
        <script type="text/javascript" th:src="@{'~/' + 'js/jquery-3.1.1.min.js'}"></script>
        <script type="text/javascript" th:src="@{'~/' + 'js/materialize.js'}"></script>
        <script type="text/javascript" th:src="@{'~/' + 'js/script.js'}"></script>
        <script th:inline="javascript">
            /*Käännöksiä varten*/
            var modalCommentTitleText = /*[[#{service.comment}]]*/ 'Kommentoi';
            var modalCaptionText = /*[[#{service.commentcaption}]]*/ 'Kommentti saa olla maksimissaan 40 merkkiä pitkä.';
            var modalCancelText = /*[[#{service.cancel}]]*/ 'Peruuta';
            var commentSuccessText = /*[[#{service.commentsuccess}]]*/ 'Kommentoit kuvaa';
            var commentFailureText = /*[[#{service.commentfailure}]]*/ 'Kommentointi epäonnistui';
            var likeSuccessText = /*[[#{service.likesuccess}]]*/ 'Tykkäsit kuvasta';
            var serverError = /*[[#{service.servererror}]]*/ 'Palvelinvirhe';
        </script>
    </body>
</html>