<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <link rel="stylesheet" th:href="@{'~/' + 'webjars/bootstrap/3.2.0/css/bootstrap.min.css'}"/>
    </head>
    <body>
        Hello world
        <script type="text/javascript" th:src="@{'~/' + 'webjars/jquery/3.1.1/jquery.min.js'}"></script>
        <script type="text/javascript" th:src="@{'~/' + 'webjars/bootstrap/3.2.0/js/bootstrap.min.js'}"></script>
    </body>
</html>