<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{service.login}">Kuvapalvelu</title>
        <meta name="mobile-web-app-capable" content="yes"/>
        <!--Viewport-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
        <!--Theme color-->
        <meta name="theme-color" content="#283593"/>
        <!-- Compiled CSS -->
        <link rel="stylesheet" th:href="@{'~/' + 'css/materialize.css'}"/>
        <!--Manifest-->
        <link rel="manifest" th:href="@{'~/' + 'manifest.json'}"/>
        <!--Import Google Icon Font-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <!--Style-->
        <link rel="stylesheet" th:href="@{'~/' + 'css/global.css'}" />
    </head>
    <body>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a class="center brand-logo" th:href="@{/}" th:text="#{service.title}">Kuvapalvelu</a>
                    <a href="#" data-activates="mobileMenu" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a th:href="@{'?lang=fi'}"><img th:src="@{'/fi_FI.png'}" style="height: 100%; vertical-align: middle;"/></a></li>
                        <li><a th:href="@{'?lang=en'}"><img th:src="@{'/en_EN.png'}" style="height: 100%; vertical-align: middle;"/></a></li>
                    </ul>
                    <ul class="side-nav" id="mobileMenu">
                        <li><a th:href="@{'?lang=fi'}"><i class='material-icons left'><img th:src="@{'/fi_FI.png'}"/></i> <span th:text="#{service.finnish}">Suomi</span></a></li>
                        <li><a th:href="@{'?lang=en'}"><i class='material-icons left'><img th:src="@{'/en_EN.png'}"/></i> <span th:text="#{service.english}">Englanti</span></a></li>
                    </ul>            
                </div>
            </nav>
        </div>


        <div class="container">
            <h3 class="center-align" th:text="#{service.login}">Kirjaudu sisään</h3>
            <div th:if="${param.error}" style='color: red; font-weight: bold;' class="center-align" th:text="#{service.wrongcreds}"></div>            
            <div th:if="${param.logout}" style='color: green; font-weight: bold;' class="center-align" th:text="#{service.loggedout}"></div>
            <div class="row">
                <form class="col s10 offset-s1" th:action="@{/login}" id="loginForm" method="POST" onsubmit="return validateLogin();" enctype="multipart/form-data">
                    <div class="row">
                        <div class="input-field">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="username" type="text" name="username" class="validate"/>
                            <label for="username" th:text="#{service.username}">Käyttäjätunnus</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field">
                            <i class="material-icons prefix">lock</i>
                            <input id="password" type="password" name="password" class="validate"/>
                            <label for="password" th:text="#{service.password}">Salasana</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field">
                            <button type="submit" class="btn btn-primary" th:text="#{service.login}">Kirjaudu sisään</button>
                            <a th:href="@{/register}" class="btn" name="register" th:text="#{service.register}">Rekisteröidy</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <script type="text/javascript" th:src="@{'~/' + 'js/jquery-3.1.1.min.js'}"></script>
        <script type="text/javascript" th:src="@{'~/' + 'js/materialize.js'}"></script>
        <script type="text/javascript" th:src="@{'~/' + 'js/script.js'}"></script>
    </body>
</html>