<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Kirjaudu ulos - Kuvapalvelu</title>
        <meta name="mobile-web-app-capable" content="yes"/>
        <!--Viewport-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!--Theme color-->
        <meta name="theme-color" content="#283593"/>
        <!-- Compiled CSS -->
        <link rel="stylesheet" th:href="@{'~/' + 'css/materialize.css'}" media="screen,projection"/>
        <!--Manifest-->
        <link rel="manifest" th:href="@{'~/' + 'manifest.json'}"/>
        <!-- CSRF -->
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <!-- default header name is X-CSRF-TOKEN -->
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <!--Style-->
        <link rel="stylesheet" th:href="@{'~/' + 'css/global.css'}" />
    </head>
    <body>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a class="center brand-logo" th:href="@{/}" th:text="#{service.title}">Kuvapalvelu</a>
                    <a href="#" data-activates="mobileMenu" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a th:href="@{/}" id="syote"><i class="material-icons left">store</i><span th:text="#{service.feed}">Syöte</span></a></li>
                        <li><a th:href="@{/search}" id="haku"><i class="material-icons left">search</i><span th:text="#{service.search}">Haku</span></a></li>
                        <li><a th:href="@{'/profile/' + ${user.username}}" id="profiili"><i class="material-icons left">face</i><span th:text="${user.username}" id="currentUser">Profiili</span></a></li>
                        <li><a th:href="@{'?lang=fi'}"><img th:src="@{'/fi_FI.png'}" style="height: 100%; vertical-align: middle;"/></a></li>
                        <li><a th:href="@{'?lang=en'}"><img th:src="@{'/en_EN.png'}" style="height: 100%; vertical-align: middle;"/></a></li>
                        <li><a onclick="event.preventDefault(); $('#logoutForm').submit();" th:href="@{'/logout/confirm'}" id="logout"><i class='material-icons left'>lock</i><span th:text="#{service.logout}">Kirjaudu ulos</span></a></li>
                    </ul>
                    <ul class="side-nav" id="mobileMenu">
                        <li><div class="userView">
                                <div class="background">
                                    <img th:src="@{'/slidenav_bg.jpg'}"/>
                                </div>
                                <a th:href="@{'/profile/' + ${user.username}}"><img class="circle" th:src="@{'/profile.jpg'}"/></a>
                                <a th:href="@{'/profile/' + ${user.username}}">
                                    <span class="white-text name" th:text="${user.username}" style="font-weight: bold;">Käyttäjänimi</span>
                                </a>
                                <a th:href="@{'/profile/' + ${user.username}}">
                                    <span class="white-text email" th:text="${user.email}">Sähköpostiosoite</span>
                                </a>
                            </div></li>
                        <li><a th:href="@{/}" id="syote"><i class="material-icons deep-orange-text">timeline</i>Syöte</a></li>
                        <li><a th:href="@{/search}" id="haku"><i class="material-icons green-text">search</i>Haku</a></li>
                        <li><a th:href="@{'/profile/' + ${user.username}}" id="profiili"><i class="material-icons blue-text">face</i>Profiili</a></li>
                        <li><a onclick="event.preventDefault(); $('#logoutForm').submit();" th:href="@{'/logout/confirm'}" id="logout"><i class="material-icons">lock</i>Kirjaudu ulos</a></li>
                    </ul>            
                </div>
            </nav>
        </div>
        <div class='container'>
            <h2>Kirjaudu ulos</h2>
            <form action="/logout" id="logoutForm" method="POST">
                <input type="hidden"
                       th:name="${_csrf.parameterName}"
                       th:value="${_csrf.token}"/>
                <div class="row">
                    <span th:text="#{service.logoutwithoutJscript}"></span>
                </div>
                <div class="row">
                    <span th:text="#{service.logoutwithoutJscript2}"></span>
                </div>
                <div class="row">
                    <div class="input-field">
                        <button type="submit" class="btn btn-primary" th:text="#{service.logout}">Kirjaudu ulos</button>
                        <a th:href="@{/}" class="btn btn-primary" th:text="#{service.cancel}">Peruuta</a>
                    </div>
                </div>
            </form>
        </div>
        <script type="text/javascript" th:src="@{'~/' + 'js/jquery-3.1.1.min.js'}"></script>
        <script type="text/javascript" th:src="@{'~/' + 'js/jquery-ui.js'}"></script>
        <script type="text/javascript" th:src="@{'~/' + 'js/materialize.js'}"></script>
    </body>
</html>